
.location_list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em;
}

.actions {
    display: flex;
    justify-content: center;
    width: 100%;
}

.settings {
    display: flex;
    gap: 0.4em;
    justify-content: end;
}

